<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="crunchy_username" type="text" label="32002" default=""/>
    <setting id="crunchy_password" type="text" label="32003" option="hidden" default=""/>
    <setting type="sep" />
    <setting id="queue_type" type="enum" lvalues="33101|33102" label="33103" default="0" />
    <setting id="video_quality" type="enum" lvalues="33002|33003|33004|33008" label="33001" default="0" />
	<setting type="sep" />
	<setting id="change_language" type="enum" lvalues="39002|39003|39004|39005|39006|39007|39008|39009|39010|39011" label="39001" default="0" />
</settings>
